<div class="page-header">
	
  <div class="row">
    <div class="col-md-4">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:small), :class => "img-rounded" %>
    <% else %>
    No avatar
    <% end %>
    </div>
    <div class="col-md-4">
      <h1><%= @user.full_name %></h1>
      <p><strong>Profile Name: </strong><%= @user.profile_name %></p>
      <p><strong>Age: </strong><%= @user.age %></p>
      <% unless @user.gender.blank? %>
        <p><strong>Gender: </strong><%= @user.gender %></p>
      <% end %>
    </div>
  </div>

 

	<!--Social links -->
	<% unless @user.youtube.blank? %>
          <%= link_to "http://www.youtube.com/user/#{@user.youtube}", target: "_blank" do %>
            <i class="fa fa-youtube"></i>
          <% end %>
        <% end %>
        <% unless @user.twitter.blank? %>
          <%= link_to "http://www.twitter.com/#{@user.twitter}", target: "_blank" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        <% end %>
        <% unless @user.facebook.blank? %>
          <%= link_to "http://www.facebook.com/#{@user.facebook}", target: "_blank" do %>
            <i class="fa fa-facebook-square"></i>
          <% end %>
        <% end %>
        <% unless @user.vine.blank? %>
          <%= link_to "http://#{@user.vine}", target: "_blank" do %>
            <i class="fa fa-vine"></i>
          <% end %>
        <% end %>
        <% unless @user.instagram.blank? %>
          <%= link_to "http://www.instagram.com/#{@user.instagram}", target: "_blank" do %>
            <i class="fa fa-instagram"></i>
          <% end %>
        <% end %>
  <!-- End Social Links -->
  
</div>